$black: #000;
$white: #fff;
$gray: #aaa;
$blue: #00a;
$yellow: #ff5;
$red: #a00;
$green: #5f5;
$cyan: #5ff;
$gray-dark: #555;
$green-dark: #0a0;
$cyan-dark: #0aa;
$magenta: #a0a;

/*
#000 => #aaa
#fff => #000
#aaa => #000
#00a => #a00
#ff5 => #00a
#a00 => #0aa
#5f5 => #a0a
#5ff => #a00
#555 => #aaa
#0a0 => #a0a
#0aa => #a00
 */

$theme-colors: (
  black: $black,
  white: $white,
  gray: $gray,
  blue: $blue,
  yellow: $yellow,
  red: $red,
  green: $green,
  cyan: $cyan,
  gray-dark: $gray-dark,
  green-dark: $green-dark,
  cyan-dark: $cyan-dark,
);

$spacer: 4px;
$spacers: (
        -2: $spacer * -2,
        0: 0,
        11: $spacer * 0.5,
        1: $spacer * 1,
        2: $spacer * 2,
        3: $spacer * 3,
        4: $spacer * 4,
        5: $spacer * 5,
        6: $spacer * 6,
        7: $spacer * 7,
        8: $spacer * 8
);

$font-size-base: 14px;

$input-height-inner: 16px; // fuck bootstrap
$input-height-inner-sm: 16px; // fuck bootstrap
$input-height-inner-lg: 16px; // fuck bootstrap
$nav-link-height:16px; // fuck bootstrap

$box-shadow: 16px 16px rgba(0,0,0,0.7);