@import 'vars';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/utilities/sizing";

@font-face {
  font-family: DOS;
  src: url("./perfect_dos_vga_437/Perfect DOS VGA 437.ttf") format("ttf");
}

body {
  background: $gray url('../turbo-bg.svg') repeat;
  font-family: DOS, monospace;
  line-height: 16px;
}

//@each $dir, $abbrev in (top:t, right:r, bottom:b, left:l) {
//  .b#{$abbrev} {
//    border-#{$dir}: 1px solid $yellow;
//  }
//}

ul {
  @include list-unstyled();
  margin-bottom: 0;
}

.h-100vh {
  height: 100vh;
}

.clickable {
  cursor: default;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.border-double {
  border-style: double;
}

.box-shadow {
  box-shadow: $box-shadow;
}