{
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ],
    "babel-preset-stage-0",
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-transform-regenerator",
    [
      "babel-plugin-transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true
      }
    ],
    "babel-plugin-transform-decorators-legacy"
  ]
}